<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raluca.storebooksystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.a.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.a.SignUpActivity" />
        <activity
            android:name=".Activities.a.ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".Activities.a.HomeActivity"
            android:label="Home" />
        <activity
            android:name=".Activities.a.BooksByCategory"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.a.BooksAdapter" />
        <activity android:name=".Activities.a.FavoriteBooksActivity" />
        <activity android:name=".Activities.a.CategoryMenu" />
        <activity android:name=".Activities.a.BookActivity" />
        <activity android:name=".Activities.a.DescriptionActivity" />
        <activity android:name=".Activities.a.ReviewsActivity" />
        <activity android:name=".Activities.a.AddReviewActivity" />
        <activity android:name=".Activities.a.PdfViewer" />
        <activity android:name=".Activities.a.StatisticsActivity" />
        <activity android:name=".Activities.a.ScanActivity" />
        <activity android:name=".Activities.a.MyLibraryActivity" />
        <activity android:name=".Activities.a.AuthorActivity"></activity>
    </application>

</manifest>