<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raluca.storebooksystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".HomeActivity"
            android:label="Home" />
        <activity android:name=".AllBooksActivity" />
        <activity
            android:name=".BooksByCategory"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BooksAdapter" />
        <activity android:name=".FavoriteBooksActivity" />
        <activity android:name=".CategoryMenu" />
        <activity android:name=".BookActivity" />
        <activity android:name=".DescriptionActivity" />
        <activity android:name=".ReviewsActivity" />
        <activity android:name=".AddReviewActivity" />
        <activity android:name=".PdfViewer" />
        <activity android:name=".StatisticsActivity"></activity>
    </application>

</manifest>